IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "key1" 88;
IO_PORT "key1" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "key2" 87;
IO_PORT "key2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "led0" 15;
IO_PORT "led0" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led1" 16;
IO_PORT "led1" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led2" 17;
IO_PORT "led2" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led3" 18;
IO_PORT "led3" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led4" 19;
IO_PORT "led4" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led5" 20;
IO_PORT "led5" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "gpio" 25;
IO_PORT "gpio" IO_TYPE=LVCMOS33 DRIVE=8;
